@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway/static/Raleway-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Black.ttf);
  font-weight: 900;
  font-style: normal;
}
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

button {
  text-decoration: none;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
}

p {
  color: #757575;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
body.modal-open {
  overflow: hidden;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 480px) {
  .container .container {
    width: 480px;
  }
}
@media all and (min-width: 768px) {
  .container .container {
    width: 768px;
  }
}
@media all and (min-width: 1200px) {
  .container .container {
    width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.logo {
  font-family: "Releway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}
.logo__span {
  color: #2196f3;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  min-width: 200px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  fill: currentColor;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button__icon {
  margin-left: 10px;
}
.button--hovering:hover, .button--hovering:focus {
  background-color: #188ce8;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover, .social-link:focus {
  background-color: #2196f3;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header {
  padding-top: 0;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 1px 1px #ececec;
          box-shadow: 0px 1px 1px #ececec;
  position: relative;
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
}

.head-cont-list__icon {
  display: inline;
  margin-right: 10px;
}

.nav-list__link,
.head-cont-list__link {
  position: relative;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.head-cont-list__link {
  color: #757575;
  fill: currentColor;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list__link:hover, .nav-list__link:focus,
.head-cont-list__link:hover,
.head-cont-list__link:focus {
  color: #2196f3;
}

.nav-list__link--selected-page {
  color: #2196f3;
  position: relative;
  padding-bottom: 8px;
}
.nav-list__link--selected-page::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

@media screen and (max-width: 767px) {
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__button {
    background-color: transparent;
  }

  .menu-button,
.menu-button {
    fill: #212121;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-button:hover, .menu-button:focus,
.menu-button:hover,
.menu-button:focus {
    fill: #2196f3;
  }

  .menu-button__menu-icon {
    display: none;
  }
  .menu-button.is-open .menu-button__menu-icon {
    display: block;
  }

  .menu-button.is-open .menu-button__close-icon {
    display: none;
  }

  .header__nav-container {
    z-index: 100;
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    text-align: center;
  }
  .header__nav-container.is-open {
    display: block;
  }

  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }

  .nav-list__item {
    margin-bottom: 40px;
  }

  .head-cont-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .head-cont-list__item:not(:last-child) {
    margin-bottom: 16px;
  }

  .header__nav-container {
    font-size: 18px;
    line-height: 1.17;
  }
}
@media all and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }

  .header__button {
    display: none;
  }

  .header__nav-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 14px;
    line-height: 1.14;
  }

  .nav-list__item:not(:last-child) {
    margin-right: 50px;
  }

  .nav-list__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .head-cont-list {
    font-size: 12px;
    line-height: 1.17;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .head-cont-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media all and (min-width: 1200px) {
  .header__logo {
    padding-top: 24px;
    padding-bottom: 25px;
  }

  .head-cont-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    line-height: 1.14;
  }

  .head-cont-list__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}
.footer {
  background-color: #2f303a;
}

.footer__container {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  color: #ffffff;
}

.footer__logo-address {
  display: inline-block;
}

.footer__logo {
  margin-bottom: 20px;
  display: block;
}

.address {
  font-style: normal;
  line-height: 1.71;
  margin-bottom: 60px;
}

.address__link:not(:first-child) {
  margin-top: 8px;
  color: rgba(255, 255, 255, 0.6);
}

.footer__social {
  margin-bottom: 60px;
}

.footer__social-links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: auto;
  margin-left: auto;
}

.footer__social-link {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__heading {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe-form__input {
  width: calc(100vw - 30px);
  margin-bottom: 20px;
  height: 50px;
  padding-left: 16px;
  background-color: transparent;
  color: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

@media all and (min-width: 480px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .subscribe-form__input {
    width: 450px;
  }
}
@media all and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    padding-left: 76px;
    padding-right: 89px;
    position: relative;
  }

  .footer__logo-address {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .footer__social {
    position: absolute;
    top: 65px;
    right: 89px;
  }
}
@media all and (min-width: 1200px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: left;
  }

  .footer__logo-address {
    margin-right: 70px;
  }

  .address__link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .address__link:not(:first-child) {
    margin-top: 9px;
  }

  .address {
    margin-bottom: 0;
  }

  .footer__social {
    margin-right: auto;
  }

  .subscribe-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .subscribe-form__input {
    margin-right: 10px;
    margin-bottom: 0;
    width: 358px;
  }
}
.hero-section {
  padding-top: 118px;
  padding-bottom: 118px;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  background-position: 50% 50%;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-mobile@1x.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-mobile@1x.jpg");
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-mobile@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-mobile@2x.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-mobile@3x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-mobile@3x.jpg");
  }
}

.hero-section__heading {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-align: center;
  max-width: 360px;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-section__button {
  margin-right: auto;
  margin-left: auto;
}

@media all and (min-width: 768px) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-tablet@1x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet@1x.jpg");
  }
}
@media all and (min-width: 768px) and (min-device-pixel-ratio: 2), all and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), all and (min-width: 768px) and (min-resolution: 192dpi), all and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-tablet@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet@2x.jpg");
  }
}
@media all and (min-width: 768px) and (min-device-pixel-ratio: 3), all and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), all and (min-width: 768px) and (min-resolution: 288dpi), all and (min-width: 768px) and (min-resolution: 3dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-tablet@3x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet@3x.jpg");
  }
}
@media all and (min-width: 1200px) {
  .hero-section {
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-desktop@1x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop@1x.jpg");
  }
}
@media all and (min-width: 1200px) and (min-device-pixel-ratio: 2), all and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), all and (min-width: 1200px) and (min-resolution: 192dpi), all and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-desktop@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop@2x.jpg");
  }
}
@media all and (min-width: 1200px) and (min-device-pixel-ratio: 3), all and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 3), all and (min-width: 1200px) and (min-resolution: 288dpi), all and (min-width: 1200px) and (min-resolution: 3dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-desktop@3x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop@3x.jpg");
  }
}
@media all and (min-width: 1200px) {
  .hero-section__heading {
    max-width: 630px;
    font-size: 44px;
    line-height: 1.3636;
  }
}
.benefits__item {
  max-width: 450px;
}
.benefits__item:not(:last-child) {
  margin-bottom: 30px;
}

.benefits__icon {
  width: 70px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
}

.benefits__icon-backgraund {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.benefits__heading {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.17;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.benefits__describe {
  font-weight: 400;
  line-height: 1.71;
}

@media all and (min-width: 480px) {
  .benefits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}
@media all and (min-width: 768px) {
  .benefits {
    width: 738px;
  }

  .benefits__item {
    width: 354px;
  }
  .benefits__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .benefits__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }

  .benefits__heading {
    text-align: left;
  }
}
@media all and (min-width: 1200px) {
  .benefits {
    width: 1170px;
  }

  .benefits__item {
    width: 270px;
  }
  .benefits__item:not(:last-child) {
    margin-right: 30px;
  }
}
.section-specification {
  display: none;
  padding-top: 0;
}

.specification-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.specification-list__item:not(:last-child) {
  margin-right: 30px;
}

.specification-list__item {
  position: relative;
}

.specification-list__heading {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  line-height: 1.17;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

@media all and (min-width: 1200px) {
  .section-specification {
    display: inherit;
  }
}
.team-section {
  background-color: #f5f4fa;
}

.team-list__item {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.team-card__caption {
  padding-top: 30px;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-card__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-card__spec {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-card__social-link {
  fill: #afb1b8;
}
.team-card__social-link:hover, .team-card__social-link:focus {
  fill: #ffffff;
}

@media all and (min-width: 480px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .team-list__item {
    width: 450px;
  }
}
@media all and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    width: 738px;
  }

  .team-list__item {
    width: 354px;
  }
  .team-list__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .team-list__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media all and (min-width: 1200px) {
  .team-list__item {
    width: 270px;
  }
  .team-list__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }

  .team-card__caption {
    padding-bottom: 30px;
  }
}
.clients-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.clients-list__link {
  width: calc(100vw - 30px);
  height: 90px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover, .clients-list__link:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

@media all and (max-width: 479px) {
  .clients-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media all and (min-width: 480px) and (max-width: 767px) {
  .clients-list {
    width: 450px;
  }

  .clients-list__link {
    width: 210px;
  }

  .clients-list__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .clients-list__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
}
@media all and (min-width: 768px) and (max-width: 1199px) {
  .clients-list {
    width: 738px;
  }

  .clients-list__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .clients-list__item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
  }
  .clients-list__item .clients-list__link {
    width: 226px;
  }
}
@media all and (min-width: 1200px) {
  .clients-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .clients-list__item:not(:last-child) {
    margin-right: 30px;
  }

  .clients-list__link {
    width: 170px;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-order {
  position: relative;
  margin: auto;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 100vw;
  background-color: #ffffff;
  padding: 40px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.backdrop.is-hidden .modal-order {
  -webkit-transform: translate(-50%, -200%) scale(0.2);
          transform: translate(-50%, -200%) scale(0.2);
}

.modal-order__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  width: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #000000;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-order__close:hover, .modal-order__close:focus {
  fill: #2196f3;
}

.modal-order__heading {
  color: #212121;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 12px;
}

.order-form {
  color: #757575;
  fill: #212121;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-decoration: none;
}

.order-form__label {
  position: relative;
  margin-bottom: 10px;
  display: block;
}

.order-form__input {
  margin-top: 4px;
  width: calc(100vw - 80px);
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.order-form__input:focus {
  border-color: #2196f3;
  outline: none;
}

.order-form__textarea {
  display: block;
  margin-top: 4px;
  width: calc(100vw - 80px);
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.order-form__textarea::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.order-form__textarea::-moz-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.order-form__textarea:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.order-form__textarea::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.order-form__textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.order-form__textarea:focus {
  border-color: #2196f3;
  outline: none;
}

.order-form__icon {
  position: absolute;
  top: 28px;
  left: 12px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.order-form__input:focus ~ .order-form__icon {
  fill: #2196f3;
}

.policy {
  padding-top: 10px;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  padding-left: 24px;
}

.order-form__check-des {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 1px solid transparent;
  border-radius: 2px;
}
.order-form__checkbox:focus ~ .order-form__check-des {
  border: 1px solid #2196f3;
  border-radius: 2px;
}
.order-form__check-des:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  display: inline-block;
  border: 2px solid #212121;
  border-radius: 2px;
  width: 16px;
  height: 15px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.order-form__checkbox:checked ~ .order-form__check-des:after {
  background-image: url(../images/check.svg);
  background-color: #2196f3;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid transparent;
}

.order-form__policy-link {
  color: #2196f3;
  text-decoration: underline;
  display: inline;
}

.order-form__button {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .modal-order {
    width: 450px;
  }

  .order-form__input,
.order-form__textarea {
    width: 370px;
  }
}
@media all and (min-width: 1200px) {
  .modal-order {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    width: 528px;
  }

  .modal-order__heading {
    line-height: 1.15;
  }

  .order-form__input,
.order-form__textarea {
    width: 448px;
  }

  .policy {
    font-size: 14px;
    line-height: 1.71;
    padding-left: 36px;
  }

  .order-form__check-des:after {
    top: 15px;
    left: 13px;
  }
}
.section-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-bottom: 25px;
  margin-right: auto;
  margin-left: auto;
}

.filter-list__item {
  margin-bottom: 15px;
}
.filter-list__item:not(:last-child) {
  margin-right: 8px;
}

.filter-list__button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  background-color: #f5f4fa;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  border: none;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-list__button:hover, .filter-list__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.project-card__info {
  position: relative;
  overflow: hidden;
}

.project-card__describe {
  overflow: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  left: 0;
  padding: 77px 24px;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  opacity: 0;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover, .project-card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-card:hover .project-card__describe, .project-card:focus .project-card__describe {
  opacity: 1;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.project-card__caption {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  background: #ffffff;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.project-card__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-card__type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

@media all and (min-width: 480px) {
  .projects-list__item {
    width: 450px;
  }
}
@media all and (min-width: 768px) and (max-width: 1199px) {
  .filter-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }

  .filter-list__item {
    margin-bottom: 0;
  }

  .projects-list {
    width: 738px;
  }

  .projects-list__item {
    width: 354px;
  }

  .projects-list__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .projects-list__item:last-child {
    margin-right: auto;
  }

  .project-card__describe {
    padding: 49px 24px;
  }
}
@media all and (min-width: 1200px) {
  .filter-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }

  .filter-list__item {
    margin-bottom: 0;
  }

  .projects-list__item {
    width: 370px;
  }

  .projects-list__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .projects-list__item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
  }

  .project-card__describe {
    padding: 63px 24px;
  }
}/*# sourceMappingURL=main.css.map */