.header {
  display: flex;
  align-items: center;
}
.header--bordered {
  box-shadow: 0px 1px 1px #ececec;
}
.header__logo {
  margin-right: 93px;
}
.nav-list {
  display: flex;
}
.nav-list__item,
.head-cont-list__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.head-cont-list {
  display: flex;
  margin-left: auto;
}
.head-cont-list__icon {
  margin-right: 10px;
}
.nav-list__link,
.head-cont-list__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  @include trans-func();
}
.head-cont-list__link {
  color: $auxiliary-text-color;
  fill: currentColor;
  display: flex;
  align-items: center;
}
.nav-list__link,
.head-cont-list__link {
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.nav-list__link--selected-page {
  color: $accent-color;
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
  }
}
