// visually-hidden
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// containers
.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media all and (min-width: 768px) {
    width: 768px;
  }
  @media all and (min-width: 1200px) {
    width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
