.section-projects {
  padding-top: 94px;
  padding-bottom: 94px;
}
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-list__item {
  &:not(:last-child) {
    margin-right: 8px;
  }
}
.filter-list__button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  background-color: $section-bg-color;
  font-family: $main-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  border: none;
  @include trans-func();

  &:hover,
  &:focus {
    color: $additional-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.projects-list__item {
  &:not(:nth-child(3n)) {
    margin-right: 30px;
  }

  &:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}
.project-card__info {
  position: relative;
  overflow: hidden;
}
.project-card__describe {
  overflow: auto;
  position: absolute;
  width: 100%;
  height: 100%;

  transform: translateY(0);
  left: 0;
  padding: 63px 24px;
  color: $additional-color;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  opacity: 0;
  @include trans-func();
}

.project-card {
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project-card__describe {
  .project-card:hover &,
  .project-card:focus & {
    opacity: 1;
    transform: translateY(-100%);
  }
}
.project-card__caption {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  background: $additional-color;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  box-sizing: border-box;
}
.project-card__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-card__type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
