.clients-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.clients-list__link {
  width: calc(100vw - 30px);
  height: 90px;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;

  fill: $unaccent-color;
  border: 1px solid $unaccent-color;
  @include trans-func();

  &:hover,
  &:focus {
    fill: $accent-color;
    border: 1px solid $accent-color;
  }
}
@media all and (max-width: 479px) {
  .clients-list__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
@media all and (min-width: 480px) and (max-width: 767px) {
  .clients-list {
    width: 450px;
  }
  .clients-list__link {
    width: 210px;
  }

  .clients-list__item {
    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
  }
}

@media all and (min-width: 768px) and (max-width: 1199px) {
  .clients-list {
    width: 738px;
  }

  .clients-list__item {
    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 30px;
    }

    .clients-list__link {
      width: 226px;
    }
  }
}

@media all and (min-width: 1200px) {
  .clients-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .clients-list__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .clients-list__link {
    width: 170px;
  }
}
