.hero-section {
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  background-position: 50% 50%;
  text-align: center;
}

.hero-section__heading {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: $additional-color;
  font-family: $main-font;
  font-weight: 900;
  text-align: center;
  max-width: 360px;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-section__button {
  margin-right: auto;
  margin-left: auto;
}

@media all and (min-width: 1200px) {
  .hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .hero-section__heading {
    max-width: 630px;
    font-size: 44px;
    line-height: 1.3636;
  }
}
