// Basic teg-style settings
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: inherit;
  display: block;
  // background-color: red;
}
button {
  text-decoration: none;
  border: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
svg {
  display: block;
}
p {
  color: $auxiliary-text-color;
}
body {
  background-color: $additional-color;
  color: $main-text-color;

  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
